{% load menu_tags %}

{% for child in children %}
    <li class="child{% if child.ancestor %} ancestor{% endif %}{% if child.children %} children dropdown{% endif %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
        <a href="{{ child.get_absolute_url }}">
            <span>
                {{ child.get_menu_title }}
            </span>
        </a>
        {% if child.children %}
            <ul{% if child.children and not child.parent %} class="dropdown-menu" role="menu"{% endif %}>
                {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
            </ul>
        {% endif %}
    </li>
{% endfor %}