{% load static from staticfiles %}
<section class="latest section">
    <div class="section-inner">
        <h2 class="heading">Latest Projects</h2>
        <div class="content">

            <div class="item featured text-center">
                <h3 class="title"><a
                        href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/"
                        target="_blank">KickStarter - Velocity</a></h3>
                <p class="summary">A responsive Bootstrap template designed for digital products</p>
                <div class="featured-image">
                    <a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/"
                       target="_blank">
                        <img class="img-responsive project-image"
                             src="{% static 'images/projects/project-featured.png' %}"
                             alt="project name"/>
                    </a>
                    <div class="ribbon">
                        <div class="text">New</div>
                    </div>
                </div>

                <div class="desc text-left">
                    <p>You can promote your main project here. Suspendisse in tellus dolor. Vivamus a
                        tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu
                        suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non
                        turpis.</p>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                        laboriosam, nisi ut aliquid ex ea commodi consequatur. At vero eos et accusamus
                        et iusto odio dignissimos ducimus.</p>
                </div><!--//desc-->
                <a class="btn btn-cta-secondary"
                   href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/"
                   target="_blank"><i class="fa fa-thumbs-o-up"></i> Back my project</a>
            </div><!--//item-->
            <hr class="divider"/>
            <div class="item row">
                <a class="col-md-4 col-sm-4 col-xs-12"
                   href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/"
                   target="_blank">
                    <img class="img-responsive project-image"
                         src="{% static 'images/projects/project-5.png' %}" alt="project name"/>
                </a>
                <div class="desc col-md-8 col-sm-8 col-xs-12">
                    <h3 class="title"><a
                            href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/"
                            target="_blank">Atom - Designed for Mobile Apps</a></h3>
                    <p>You can put one of your secondary projects here. Suspendisse in tellus dolor.
                        Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam,
                        orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante
                        dolor non turpis.</p>
                    <p><a class="more-link"
                          href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/"
                          target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                </div><!--//desc-->
            </div><!--//item-->

            <div class="item row">
                <a class="col-md-4 col-sm-4 col-xs-12"
                   href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/"
                   target="_blank">
                    <img class="img-responsive project-image"
                         src="{% static 'images/projects/project-4.png' %}" alt="project name"/>
                </a>
                <div class="desc col-md-8 col-sm-8 col-xs-12">
                    <h3 class="title"><a
                            href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/"
                            target="_blank">DevStudio - Designed for Web Development Agencies</a></h3>
                    <p>You can put one of your secondary projects here. Suspendisse in tellus dolor.
                        Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam,
                        orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante
                        dolor non turpis.</p>
                    <p><a class="more-link"
                          href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/"
                          target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                </div><!--//desc-->
            </div><!--//item-->

            <div class="item row">
                <a class="col-md-4 col-sm-4 col-xs-12"
                   href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/"
                   target="_blank">
                    <img class="img-responsive project-image"
                         src="{% static 'images/projects/project-1.png' %}" alt="project name"/>
                </a>
                <div class="desc col-md-8 col-sm-8 col-xs-12">
                    <h3 class="title"><a
                            href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/"
                            target="_blank">Tempo - Designed for Startups</a></h3>
                    <p>You can put one of your secondary projects here. Suspendisse in tellus dolor.
                        Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam,
                        orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante
                        dolor non turpis.</p>
                    <p><a class="more-link"
                          href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/"
                          target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                </div><!--//desc-->
            </div><!--//item-->
            <div class="item row">
                <a class="col-md-4 col-sm-4 col-xs-12"
                   href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/"
                   target="_blank">
                    <img class="img-responsive project-image"
                         src="{% static 'images/projects/project-2.png' %}" alt="project name"/>
                </a>
                <div class="desc col-md-8 col-sm-8 col-xs-12">
                    <h3 class="title"><a
                            href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/"
                            target="_blank">Delta - Designed for Mobile Apps</a></h3>
                    <p> You can put one of your secondary projects here. Quisque rutrum. Aenean
                        imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                        Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus,
                        sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                    <p><a class="more-link"
                          href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/"
                          target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                </div><!--//desc-->
            </div><!--//item-->

        </div><!--//content-->
    </div><!--//section-inner-->
</section><!--//section-->