<section class="projects section">
    <div class="section-inner">
        <h2 class="heading">Other Projects</h2>
        <div class="content">
            <div class="item">
                <h3 class="title"><a href="#">Project Title Cras Lacus</a></h3>
                <p class="summary">Provide a brief description of your project. Ut enim ad minima
                    veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                    aliquid ex ea commodi consequatu.</p>
                <p><a class="more-link"
                      href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/"
                      target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
            </div><!--//item-->
            <div class="item">
                <h3 class="title"><a href="#">Project Title Cras eget lacus</a> <span
                        class="label label-theme">Open Source</span></h3>
                <p class="summary">Provide a brief description of your project. Maecenas ornare
                    ultricies risus, in fermentum augue consectetur in. Vestibulum vitae mauris iaculis,
                    sollicitudin velit in, molestie nulla. </p>
                <p><a class="more-link"
                      href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/"
                      target="_blank"><i class="fa fa-external-link"></i> View on GitHub</a></p>
            </div><!--//item-->
            <div class="item">
                <h3 class="title"><a href="#">Project Title Maecenas Ornare</a> <span
                        class="label label-theme">Open Source</span></h3>
                <p class="summary">Provide a brief description of your project. Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. In vel purus enim. Etiam tortor felis, fermentum
                    ac ultrices sed.</p>
                <p><a class="more-link"
                      href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/"
                      target="_blank"><i class="fa fa-external-link"></i> View on GitHub</a></p>
            </div><!--//item-->

            <a class="btn btn-cta-secondary" href="#">More on CoderWall <i
                    class="fa fa-chevron-right"></i></a>

        </div><!--//content-->
    </div><!--//section-inner-->
</section><!--//section-->