{% extends 'layout.html' %}
{% load cms_tags %}
{% block title %}{% page_attribute "page_title" %}{% endblock %}

{% block content %}
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                {% placeholder "main" %}
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                {% placeholder "side" %}
            </div><!--//secondary-->
        </div><!--//row-->
    </div><!--//masonry-->
{% endblock %}