<section class="about section">
    <div class="section-inner">
        <h2 class="heading">About Me</h2>
        <div class="content">
            {{ instance.description }}
        </div><!--//content-->
    </div><!--//section-inner-->
</section><!--//section-->