<aside class="education aside section">
    <div class="section-inner">
        <h2 class="heading">Education</h2>
        <div class="content">
            {% if educations %}
                {% for edu in educations %}
                    <div class="item">
                        <h3 class="title">
                            <i class="fa fa-graduation-cap"></i>
                            {{ edu.degree }}
                        </h3>
                        <h4 class="university">
                            {{ edu.college_name }} <span class="year">({{ edu.start_date|date:'Y' }}-{{ edu.end_date|date:'Y' }})</span>
                        </h4>
                    </div><!--//item-->
                {% endfor %}
            {% else %}
                <h3>
                    No Education!
                </h3>
            {% endif %}
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->