<aside class="languages aside section">
    <div class="section-inner">
        <h2 class="heading">Languages</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li class="item">
                    <span class="title"><strong>English:</strong></span>
                    <span class="level">Native Speaker <br class="visible-xs"/><i
                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                            class="fa fa-star"></i> </span>
                </li><!--//item-->
            </ul>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->