<aside class="list music aside section">
    <div class="section-inner">
        <h2 class="heading">Favourite coding music</h2>
        <div class="content">
            {% if coding_music %}
                <ul class="list-unstyled">
                    {% for music in coding_music %}
                        <li><i class="fa fa-headphones"></i> <a href="{{ music.link }}" target="_blank">{{ music.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>
                    No music playlists!
                </h3>
            {% endif %}
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->