<aside class="skills aside section">
    <div class="section-inner">
        <h2 class="heading">Skills</h2>
        <div class="content">
            <p class="intro">
                Here are some of my basic skills and frameworks.
            </p>

            <div class="skillset">
                {% if skills %}
                    {% for skill in skills %}
                        <div class="item">
                            <h3 class="level-title">{{ skill.name }}<span class="level-label"
                                                                          data-toggle="tooltip"
                                                                          data-placement="left"
                                                                          data-animation="true"
                                                                          {% if skill.tool_tip %}title="{{ skill.tool_tip }}{% endif %}">
                                            {{ skill.skill_rank.name }}
                                        </span>
                            </h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="{{ skill.percent }}%">
                                </div>
                            </div><!--//level-bar-->
                        </div><!--//item-->
                    {% endfor %}
                {% else %}
                    <h3>
                        No Skills Available!
                    </h3>
                {% endif %}
            </div>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->