<section class="experience section">
    <div class="section-inner">
        <h2 class="heading">Work Experience</h2>
        <div class="content">
            {% if work_exps %}
                {% for work in work_exps %}
                    <div class="item">
                        <h3 class="title">{{ work.job_title }} - <span class="place"><a href="{% if work.employer_link %}{{ work.employer_link }}{% else %}#{% endif %}">{{ work.employer_name }}</a></span>
                            <span class="year">({{ work.start_date|date:'Y' }} - {% if work.end_date %}{{ work.end_date|date:'Y' }}{% else %}Present{% endif %})</span></h3>
                        <p>
                            {{ work.description }}
                        </p>
                    </div><!--//item-->
                {% endfor %}
            {% else %}
                <h3>
                    No Work Experience
                </h3>
            {% endif %}
        </div><!--//content-->
    </div><!--//section-inner-->
</section><!--//section-->